.home_slider-wrapper .slick-arrow {
  height: 30px !important;
  width: 30px !important;
}
.home_slider-wrapper .slick-arrow::before {
  font-size: 30px !important;
}
.home_slider-wrapper .slick-arrow.slick-prev {
  left: 10px !important;
  z-index: 99;
}
.home_slider-wrapper .slick-arrow.slick-next {
  right: 10px !important;
  z-index: 99;
}
.home_slider-wrapper .slider_image_wrapper {
  position: relative;
  width: 100%;
  /* height: 340px; */
  height: 280px;
  overflow-x: hidden;
}
.home_slider-wrapper .slider_image_wrapper .slider_image_wrapper_overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  filter: blur(15px);
  /* clip-path: polygon(100% 70%, 0% 100%, 100% 100%); */
  clip-path: polygon(100% 81%, 0% 100%, 100% 100%);
  overflow: hidden;
}
.home_slider-wrapper .slider_image_wrapper img {
  width: 100%;
  height: 100%;
}

@media (min-width: 2000px) {
    .home_slider-wrapper .slider_image_wrapper {
      height: 380px;
    }
  }

@media (max-width: 900px) {
  .home_slider-wrapper .slider_image_wrapper {
    height: 340px;
  }
}

@media (max-width: 650px) {
  .home_slider-wrapper .slider_image_wrapper {
    height: 240px;
  }
  .home_slider-wrapper .slick-arrow {
    height: 20px !important;
    width: 20px !important;
  }
  .home_slider-wrapper .slick-arrow::before {
    font-size: 20px !important;
  }
}

@media (max-width: 500px) {
  .home_slider-wrapper .slider_image_wrapper {
    height: 200px;
  }
}

@media (max-width: 420px) {
  .home_slider-wrapper .slider_image_wrapper {
    height: 160px;
  }
}
